.personBlock {
  width: 25%;
  min-height: 75px;
  border: 1px solid $black;
  margin: 10px;
  &__img {
    max-width: 65%;
    margin: 0 auto;
    img {
      max-width: 100%;
      display: block;
    }
  }
  p {
    margin: 0;
    text-align: center;
    background: $black;
    color: $white;
  }
}